
{{define "body"}}
    {{ template "blogpost" }}
    <p style='padding-bottom: 20px;' >(eof)</p>
    <p class="break">&nbsp;</p>

    <div style='height:50px;margin:10px auto 50px auto;position:relative;width:500px;'>
        <form 
            action="https://tinyletter.com/oyvindsk" 
            method='post' 
            onsubmit='window.open(&#39;https://tinyletter.com/oyvindsk&#39;, &#39;popupwindow&#39;, &#39;scrollbars=yes,width=800,height=600&#39;);return true'
            style='left:100px;position:absolute;top:5px;' 
            target='popupwindow'>
            
            <label for='tlemail' style='display:none;'>
                Enter your email address
            </label>
            <input id='tlemail' name='email' placeholder='Your email address' style='font-size:20px;padding:6px;width:250px;' type='text'></input>
            <input name='embed' type='hidden' value='1'></input>
            <input style='background:#E0EBF5;border:0 none;border-radius:5px;cursor:pointer;font-size:20px;margin-left:8px;padding:8px 15px;' type='submit' value='Subscribe'></input>
        </form>

    </div>
    <p>
        This is a technical blog about Golang, Clud Cumputing and other Backend related topics. Enter your email address to receive updates. At most 2 mails per month. Unsubscribe any time.
    </p>

         
{{end}}
