
<!--
 Input:
 Date
 Title
 BlogSubtitle
 Author
 Body
--> 

{{ define "blogpost" }}

<!DOCTYPE html>
<html lang="en">
	<title>{{ .Title }} || oyvindsk.com</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  
	<body>
		<article>
			<header class="bg-gold sans-serif">

				{{ template "headerLinks" . }}

    			<div class="mw9 center pa4 pt5-ns ph7-l">
      				<h1 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
        				<span class="bg-black-90 lh-copy white pa1 tracked-tight">
						{{ .Title }}
        				</span>
      				</h1>
					<h4 class="f3 fw1 georgia i">{{ .BlogSubtitle }}</h4>
					<time class="f6 mb2 dib ttu tracked"><small>{{ .Date }}</small></time>
      				<!-- <h5 class="f6 ttu tracked black-80">By {{ .Author }}</h5> -->
					
					Activepage: {{ .Activepage }}
					Servepath: {{ .Servepath }}
					<a href="/writing/{{ .Servepath }}/full.pdf">This post as PDF</a>
				</div>
  			</header>

			<div class="pa4 ph7-l georgia mw9-l center">
  
				{{ .Body }}

			</div>

		</article>

	</body>
</html>

{{ end }}
