
<!--
 Input:
 Date
 Title
 BlogSubtitle
 Author
 Body
--> 

{{ define "blogpost" }}

<!DOCTYPE html>
<html lang="en">
	<title>{{ .Title }} || oyvindsk.com</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/html-related/tachyons.min.css">
  
	<body>
		<article>
			<header class="bg-gold sans-serif">

				{{ template "headerLinks" . }}

    			<div class="mw9 center pa4 pt5-ns ph7-l">
      				<h1 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
        				<span class="bg-black-90 lh-copy white pa1 tracked-tight">
						{{ .Title }}
        				</span>
      				</h1>
					<h4 class="f3 fw1 georgia i">{{ .BlogSubtitle }}</h4>
					<time class="f6 mb2 dib ttu tracked"><small>{{ .Date }}</small></time>
					
					<br>
					<a href="{{ .PDFurl }}"><img class="mw1 mw2-ns" src="/html-related/Pdf_by_mimooh.svg" alt="PDF icon"></a>

				</div>
  			</header>

			<div class="pa4 ph7-l georgia mw9-l center">
  
				{{ .Body }}

			</div>

		</article>

		{{ template "footer" . }}

	</body>
</html>

{{ end }}
